/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap');

:root {
    --header-height: 3rem;

    /* Шрифты и размеры */
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;

    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*  Обнуление, базовые настройки  */
*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    /* margin: var(--header-height) 0 0 0; */

    font-family: var(--body-font);
    font-size: var(--normal-font-size);

    /* background-color: hsl(171, 100%, 99%); */
    background: transparent;
    /* color: hsl(171, 24%, 35%); */
    /* color: #fff; */
}

h1, h2, h3 {
    color: hsl(171, 64%, 18%);
    font-weight: 600;
    font-family: var(--title-font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button, input {
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

.section {
    padding: 4.5rem 0 2.5rem;
}

.section__title {
    font-size: var(--h2-font-size);
    color: hsl(171, 64%, 18%);
    text-align: center;

    margin-bottom: 1.5rem;
}

.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 100;
    /* background-color: white; */
    background: #1a1e21;
    /* box-shadow: 0 1px 4px hsl(0 4% 15% / 10%); */
}

.nav {
    height: var(--header-height);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav__logo,
.nav__toggle {
    color: white;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: 600;
}

.nav__toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav__menu {
    position: relative;
    
}

@media screen and (max-width: 767px){
    .nav__menu {
        background-color: hsl(171, 100%, 99%);

        position: fixed;
        top: 0;
        right: -100%;

        width: 70%;
        height: 100%;

        box-shadow: -1px 0 4px hsla(171, 64%, 15%, .15);

        padding: 3rem;

        transition: .5s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link {
    color: hsl(171, 8%, 60%);
    font-weight: 600;

    text-transform: uppercase;
}

.nav__link:hover {
    color: hsl(171, 24%, 35%);
}

.nav__close {
    position: absolute;
    top: .75rem;
    right: 1rem;

    font-size: 1.5rem;
    color: hsl(171, 64%, 18%);

    cursor: pointer;
}

.show-menu {
    right: 0;
}

.section:last-of-type {
    padding: 2.5rem 0 0.5rem;
}

.footer__container {
    row-gap: 1.5rem;
}

.footer__content {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__title,
.footer__subtitle {
    font-size: var(--h3-font-size);
}

.footer__title {
    margin-bottom: .5rem;
}

.footer__description {
    margin-bottom: 2rem;
}

.footer__social {
    font-size: 1.25rem;
    color: hsl(171, 64%, 18%);
    margin-right: 1.25rem;
}

.footer__subtitle {
    margin-bottom: 1rem;
}

.footer__item {
    margin-bottom: .75rem;
}

.footer__link {
    color: hsl(171, 24%, 35%);
}

.footer__link:hover {
    color: hsl(171, 64%, 18%);
}

.footer__rights {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
}

.footer__copy,
.footer__terms-link {
    font-size: var(--small-font-size);
    color: hsl(171, 8%, 60%);
}

.footer__terms {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
}

.footer__terms-link:hover {
    color: hsl(171, 24%, 35%);
}

.scroll-header {
    background-color: hsl(171, 100%, 99%);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
    color: #002333;
}

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: #1a1e21;
    padding: 0.5rem;
    display: flex;
    opacity: 0.9;
    z-index: 10;
    transition: .4s;
}

.scrollup__icon {
    color: #fff;
}

.scrollup:hover {
    background-color: hsl(171, 64%, 15%);
    opacity: 1;
}

.show-scroll {
    bottom: 5rem;
}

@media screen and (min-width: 768px) {
    .scroll-header .nav__link {
        color: hsl(171, 24%, 35%);
    }

    .scroll-header .active-link {
        color: hsl(171, 64%, 18%);
    }

    .scroll-header .active-link::before {
        background-color: hsl(171, 64%, 18%);
    }

    body {
        margin: 0;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__link {
        /* color: hsl(171, 64%, 18%); */
        color: #fff;
        text-transform: initial;
    }

    .nav__link:hover {
        /* color: hsl(171, 64%, 18%); */
        color: #fff;
    }


    .nav__menu {
        display: flex;
        column-gap: 1rem;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 4rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .active-link::before {
        background-color: #fff;
    }

    .scroll-header .nav__link {
        color: #002333;
    }

    .scroll-header .active-link {
        color: hsl(171, 64%, 18%);
    }

    .scroll-header .active-link::before {
        background-color: hsl(171, 64%, 18%);
    }

    .section {
        padding: 7rem 0 2rem;
    }

    .footer__rights {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .footer__content {
        justify-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .container {
      max-width: 1024px;
    }
}

@media screen and (min-height: 721px) {
    body {
        margin: 0;
    }

}

.home {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(img/history_home1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text {
    color: #fff;
    text-align: center;
    
}

.home-box {
    position: absolute;
    background-color: #1a1e21;
    
    margin: auto;
    max-width: 55%;
    height: 250px;
    top: 0;
    left: 0;
    right: 0;
    bottom: -100%;
    padding: 16px;
}

.home-title {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
}

.home-subtitle {
    font-size: 1rem;
    font-weight: 500;
}

.history {
    margin-top: 9rem;
    display: grid;
    grid-template-areas: 
    "section aside";
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr;
    gap: 8px;
    /* box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%); */
    border-radius: 4px;
}

.forshadow {
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
}

.post {
    grid-area: section;
    padding: 16px;
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
}

.topic {
    grid-area: aside;
    
    position: sticky;
    top: 48px;
    max-height: 326px;
    padding: 16px;
}

@media screen and (min-width: 767px) {
    .topic { 
        top: 72px;
    }
}

.sub-heading {
    font-size: 2rem;
    color: #002333;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem !important;
}

.post-text {
    color: #002333;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 1.9rem;
    margin: 1rem 0;
    text-align: justify;
}

.aligncenter {
    clear: both;
}

.block-image {
    display: block;
    margin: 0 0 1em;
}

.post-image {
    display: block;
    margin-left: auto;
    margin-right: auto
}

figcaption {
    text-align: center;
    font-size: 12px;
    padding: 20px;
}

.topic-title {
    color: #1a1e21;
    font-weight: 600;
    font-size: 1.3em;
}

.topic-list {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.topic-list li{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.topic-list a {
    font-size: 1rem;
    font-weight: 500;
    color: #002333;
}

#TheEarlyYears,
#TheStudioEra,
#TheModernAge,
#BlackandWhite,
#Color,
#Digital,
#Evolution,
#History {
    padding-top: 72px;
	margin-top: -72px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

#secr,
#prom,
#dub,
#spec,
#grp,
#cam,
#steps {
    padding-top: 72px;
	margin-top: -72px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

#History {
    padding-top: 112px;
	margin-top: -112px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

#Evolution {
    font-size: 40px;
}

@media screen and (max-width: 767px) {
    .home {
        height: 300px;
        
    }
    
    .home-box {
        max-width: 70%;
        height: 200px;
    }

    .home-title {
        font-size: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .home-subtitle {
        font-size: 0.85rem;
    }
    #TheEarlyYears,
    #TheStudioEra,
    #TheModernAge,
    #BlackandWhite,
    #Color,
    #Digital,
    #Evolution,
    #History {
        padding-top: 48px;
        margin-top: -48px;
        -webkit-background-clip: content-box;
        background-clip: content-box;
    }
    #secr,
    #prom,
    #dub,
    #spec,
    #grp,
    #cam,
    #steps {
        padding-top: 48px;
        margin-top: -48px;
        -webkit-background-clip: content-box;
        background-clip: content-box;
    }

    #History {
        padding-top: 78px;
        margin-top: -78px;
        -webkit-background-clip: content-box;
        background-clip: content-box;
    }
}

@media screen and (max-width: 600px){
    .home-title {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .history {
        grid-template-areas: 
        "aside"
        "section";
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 390px){
    .history {
        margin-top: 6.5rem;
    }
    .home {
        justify-content: center;
    }
    .home-box {
        max-width: 80%;
        height: 200px;
    }

    .home-title {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .home-subtitle {
        font-size: 0.8rem;
    }
    #Evolution {
        font-size: 1.6rem;
    }
    .sub-heading {
        font-size: 1.4rem;
    }
    .post-text {
        font-size: 1em;
        line-height: 1.6rem;
    }

    .post {
        padding: 8px;
    }

}
::-webkit-scrollbar {
    width: .60rem;
    background-color: hsl(171, 12%, 90%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(171, 12%, 75%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(171, 8%, 60%);
}

.bck {
    background-image: url(/img/home3.jpg);
    background-position: center 10%;
}
